{%extends 'layout/layout.html'%}
{%load static%}
{%block body%}
<div class="container">{% for message in messages%}
    <h3>{{message}}</h3>
        {% endfor %}
        </div>
<div class="container" style="border:solid 1px ; margin-top:5px ; margin-bottom: 5px; padding-bottom: 4px; ">
<form method="post" action="{% url 'portal_1:change_password'%}" style="margin-top: 4px; padding-top:6px ;">
    {% csrf_token %}
    {{ form }}
    <button type="submit" style="background-color:rgb(135, 26, 224) ;">Save changes</button>
  </form>
</div>
  {%endblock%}